- @page = "about"
/ # = render "navbar", current: "about"

.container.narrow
  markdown:
    My dad, Don Corbitt (1961-1999) was always on the forefront of technology. As one of the early users of the internet, he could often be found on [Usenet](http://en.wikipedia.org/wiki/Usenet), a global bulletin-board system that was a precursor to the modern web.

    Although it has been over a decade since his last post, Google has indexed every usenet thread and message ever posted and made them searchable. Through this service I was able to automatically find and download over 700 threads containing posts by my father.

    This page is designed to make those posts easily available to my family. To access the posts, click the [Usenet Posts](/don/posts) tab above. Posts are indexed by mailing list (the far left column) and topic. Each thread lists the total number of posts as well as the number by Don. His posts reflected his passions - predominantly flying, coding, and libertarian politics. I hope that through this medium my family will be able to feel closer to dad.