// Place all the styles related to the DonCorbitt controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-brand {
	font-weight: bold;
}

#usenet {
	$empty-background: #eee;
	height: 800px;

	.title {
		font-weight: bold;
	}

	#lists {
		ul {
			padding-left: 25px;
		}
		.selected {
			font-weight: bold;
		}
	}

	#threads {
		background: $empty-background;
		border-right: 1px solid white;
		padding: 1px 0;
	}

	#posts {
		background: $empty-background;
	}

	.row {
		height: 100%;
	}

	.scroll-col {
		height: 100%;
		overflow: auto;

		.filler {
			margin-top: 30px;
			text-align: center;
			font-size: 2em;
		}
	}

	.thread-summary {
		background: white;
		border-bottom: 1px solid #ddd;
		overflow: hidden;
		cursor: pointer;

		.thread-title {
			font-weight: bold;
		}

		div {
			text-overflow: ellipses;
			height: 50px;
			padding: 3px;
			display: inline-block;
			vertical-align: top;
		}
		.thread-title {
			width: 70%;
		}
		.thread-data {
			width: 30%;
			div {
				height: auto;
				display: block;
				padding-top: 0;
			}
		}

		&.selected {
			background: #D6EBF7;
		}
	}
}

body.static {
	height: 100%;
	overflow: hidden;
}