// Place all the styles related to the wedding controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wedding {
  .navbar {
    .btn-group {
      margin-top: 8px;

      .selected {
        color: #333;
        background-color: #EBEBEB;
        border-color: #ADADAD
      }
    }
  }
}